.page_wrap{
    background-color: $light;
}
.mBtn{
    position: relative;
    display: block;
    padding: 10px;
    border-radius: 50px;
    background-color: $blue;
    color: $white;
    border: 0;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    @include breakpoint(1536px){
        font-size: 16px;
        padding: 12px 20px;
    }
    &:disabled{
        opacity: 0.5;
    }
    &.sBtn{
        padding: 10px ;
        font-size: 12px;
        text-align: center;
    }
    &.iconBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 10px;
        span{
            color: $white;
            font-size: 16px;
        }
    }
    &_medium{
        font-weight: 600;
         padding: 15px 40px;
         font-size: 16px;
    }
    &.dangerBtn{
        background-color: red;
    }
}
.hidden{
    display: none !important;
}
.eContainer{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
// .mainArticle{
//     position: relative;
//     width: 100%;
//     height: 100vh;
//     overflow-y: auto;
//     padding: 50px;
//     @include breakpoint(1536px){
//         padding: 30px;
//         padding-left: 50px;
//     }
// }
.subTitle{
    position: relative;
    font-size: 24px;
    line-height: 1.5;
    // font-family: $semiBold;
    color: $blue;
    @include breakpoint(1536px){
        font-size: 20px;
    }
}
// .dt-container{
//     height: 100%;
   
//     >.dt-layout-row{
       
//         margin: 0 !important;
//         padding: 20px 30px;
//     }
//     .dt-layout-row{
//         &.dt-layout-row-0{
//             padding-bottom: 0;
//             padding: 0;
//         }
//        &.dt-layout-row-2{
//             padding-top: 0;
//             position: absolute;
//             bottom: 0;
//             left: 0;
//         }
//     }
//     .dt-length{
//         select{
           
//             &.dt-input{
//                 margin-right: 10px;
//                 padding: 10px;
//                 border: 1px solid #aaa;
//                 appearance: none;
//                 padding-right: 30px;
//                 font-size: 16px;
//                 border-radius: 50px;
//                 &:focus-visible{
//                     outline: none;
//                 }
//                 option{
//                     background-color: $white;
//                     color: $blue;
//                     &:hover{
//                         background-color: $blue;
//                         color: red;
//                     }
//                 }
//             }
//         }
//     }
//     div{
//         &.dt-paging{
//             button{
//                 &.dt-paging-button{
//                     transition: all 400ms ease-in-out;
//                     &.current{
//                         background-color: $blue !important;
//                         color: $white !important;
//                         border: none !important;
//                         &:hover{
//                             color: $white !important;
//                         }
//                     }
//                     &:hover{
//                         background-color: $blue !important;
//                         color: $white !important;
//                         background: transparent;
//                     }
//                 }
//                 &.disabled{
//                     cursor: not-allowed !important;
//                     &:hover{
//                         background-color: transparent !important;
//                         color: inherit !important;
//                     }
//                 }
//             }
            
//         }
//     }
    
//     input[type="search"]{
//         &.dt-input{
//             color: $black;
//             border-radius: 50px;
//             margin-left: 10px;
//             &:focus-visible{
//                 outline: none;
//             }
//         }
//     }
// }
// .mTable{
//     position: relative;
//     width: 100%;
//     border-collapse: collapse;
//     tr{
//         width: 100%;
//         td{
//            padding: 5px 10px !important;
          
//            @include breakpoint(1536px){
//             font-size: 14px;
//             padding: 7px !important;
//            }
//         }
//     }
//     thead{
//         height: 50px;
//         th{
//             @include breakpoint(1536px){
//                 font-size: 14px;
//             }
//             &:first-child{
//                 text-align: left !important;
//             }
//             &:hover{
//                 outline: none !important;
//             }
//         }
//     }
  
// }
div.dt-processing>div:last-child>div{
    background-color: $blue;
}
table.dataTable th.dt-type-numeric:not(:first-child){
    text-align: left !important;
}
table.dataTable th.dt-type-numeric:not(:last-child){
    text-align: left !important;
}
table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-numeric{
    text-align: left !important;
}
// .fTable{
//     position: relative;
//     border-radius: 20px;
//     overflow: hidden;
//     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
//     @include breakpoint(1536px){
//         margin-top: 20px;
//     }
//     &_header{
//         &_bottom{
//             position: relative;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             grid-gap: 30px;
//             margin-top: 20px;
//         }
//         &_actions{
//             position: relative;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             grid-gap: 30px;
//             &_filter{
//                 position: relative;
//                 display: flex;
//                 justify-content: space-between;
//                 align-items: center;
//                 grid-gap: 20px;
//             }
//         }
//     }
//     &.fhTable{
        
//         tr{
//             &:nth-child(odd){
//                 background-color: rgba($blue, 0.1);
//             }
//             td,th{
//                 padding: 15px;
                
//             }
//         }
//     }
// }
.pageTitle{
    position: relative;
    font-size: 32px;
    line-break: 1.5;
    // font-family: $bold;
    color: $blue;
     @include breakpoint(1536px){
         font-size: 26px;
    }
}
.selectric-wrapper{
    min-width: 250px;
    @include breakpoint(1536px){
        min-width: 200px;
    }
    .selectric{
        border-radius: 20px;
        
        .label{
            padding: 0 15px;
            font-size: 14px;
            // font-family: $semiBold;
            letter-spacing: 1px;
            line-height: 40px;
        }
        
    }
    .selectric-items{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        .selectric-scroll{
            
            li{
               font-size: 14px;
               &.highlighted{
                position: relative;
                background: $blue;
                color: $white;
               }
               &:hover{
                background: $blue;
                color: $white;
               }
            }
        }
    }
    &.selectric-open{
        .selectric{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 0;
        }
    }
}
.statusText{
    position: relative;
    text-transform: capitalize;
}
.badge {
    position: relative;
    padding: 5px 10px;
    border-radius: 50px;
    text-transform: capitalize;
    &.badge-success{
        background-color: #DCFCE7;
        color: #016630;
    }
    &.badge-danger{
        background-color: red;
    }
}
.modal-title{
    position: relative;
    font-size: 24px;
    line-height: 34px;
    // font-family: $semiBold;
    color: $blue;
}

button{
  &:focus{
    box-shadow: none !important;
    outline: none  !important;
  }
  &:focus-visible{
    box-shadow: none  !important;
    outline: none  !important;
  }
  &.disabled{
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}

// .dataTable{
//     min-height: 350px;
// }
.flexEnd{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

// 
.sectionWrap{
    position: relative;
    margin-bottom: 20px;
    h3{
        font-size: 20px;
        line-height: 1.5;
        font-weight: 500;
        color: $darkBlack;
    }
    p{
        font-size: 14px;
        line-height: 1.5;
        color: $black;
    }
}
.mainArticle{
    position: relative;
    padding: 35px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: #F9FAFB;
}
.mTable{
    position: relative;
    width: 100%;
    thead{
        background-color: rgba($black, 0.1);
    }
    tr{
        position: relative;
        min-height: 70px;
        th{
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            color: #364153;
            border-bottom: 0px;
           padding: 15px !important;
        }
    }
    tr{
        td{
            font-size: 14px;
            line-height: 1.2;
            color: $black;
            padding: 15px !important;
            
        }
        &:nth-child(even){
            background-color: #F3F4F6;
        }
    }
}
table.dataTable,
table.dataTable th,
table.dataTable td {
  border: none !important;
}
.dt-paging{
    button{
        &.current{
           
        }
    }
}
.dt-container{
    border-radius: 10px;
    overflow: hidden;
}
div.dt-container .dt-paging .dt-paging-button.current{
    background: $blue !important;
    color: $white !important;
}
div.dt-container .dt-paging .dt-paging-button:hover{
    background: $blue !important;
    color: $white !important;
}
div.dt-container div.dt-layout-row{
    margin: 0;;
}
.dt-layout-row-2, .dt-layout-row-5{
    margin: 0 !important;
    padding: 15px;
    background-color: rgba($black, 0.1);
}
.dt-info{
    font-size: 14px;
}
.fTable{
    &_header{
        margin-bottom: 20px;
        &_bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_actions{
            display: flex;
            justify-content: space-between;
            align-items: center;
            grid-gap: 20px;
            &_filter{
                display: flex;
                justify-content: space-between;
                align-items: center;
                grid-gap: 10px;
            }
        }
    }
}
.dt-empty{
    display: flex;
    justify-content: center;
    align-items: center;
}