.page_wrap{
    background-color: $light;
}
.mBtn{
    position: relative;
    display: block;
    padding: 15px 50px;
    border-radius: 50px;
    background-color: $blue;
    color: $white;
    border: 0;
    font-size: 20px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 1px;
    @include breakpoint(767px){
        font-size: 16px;
        padding: 15px 30px;
    }
    &:disabled{
        opacity: 0.5;
    }
    &.sBtn{
        padding: 10px ;
        font-size: 12px;
        text-align: center;
    }
}
.hidden{
    display: none !important;
}
.eContainer{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.mainArticle{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 50px;
    @include breakpoint(1536px){
        padding: 50px 30px;
    }
}
.subTitle{
    position: relative;
    font-size: 24px;
    line-height: 1.5;
    font-family: $semiBold;
    color: $blue;
}
.dt-container{
    height: 100%;
    background-color: rgba($blue, 0.1);
    >.dt-layout-row{
       
        margin: 0 !important;
        padding: 20px 30px;
    }
    .dt-layout-row{
        &.dt-layout-row-0{
            padding-bottom: 0;
            padding: 0;
        }
       &.dt-layout-row-2{
            padding-top: 0;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .dt-length{
        select{
           
            &.dt-input{
                margin-right: 10px;
                padding: 10px;
                border: 1px solid #aaa;
                appearance: none;
                padding-right: 30px;
                font-size: 16px;
                border-radius: 50px;
                &:focus-visible{
                    outline: none;
                }
                option{
                    background-color: $white;
                    color: $blue;
                    &:hover{
                        background-color: $blue;
                        color: red;
                    }
                }
            }
        }
    }
    div{
        &.dt-paging{
            button{
                &.dt-paging-button{
                    transition: all 400ms ease-in-out;
                    &.current{
                        background-color: $blue !important;
                        color: $white !important;
                        border: none !important;
                        &:hover{
                            color: $white !important;
                        }
                    }
                    &:hover{
                        background-color: $blue !important;
                        color: $white !important;
                        background: transparent;
                    }
                }
                &.disabled{
                    cursor: not-allowed !important;
                    &:hover{
                        background-color: transparent !important;
                        color: inherit !important;
                    }
                }
            }
            
        }
    }
    
    input[type="search"]{
        &.dt-input{
            color: $black;
            border-radius: 50px;
            margin-left: 10px;
            &:focus-visible{
                outline: none;
            }
        }
    }
}
.mTable{
    position: relative;
    width: 100%;
    border-collapse: collapse;
    tr{
        width: 100%;
        td{
           padding: 5px 10px !important;
          
           @include breakpoint(1536px){
            font-size: 14px;
            padding: 7px !important;
           }
        }
    }
    thead{
        height: 50px;
        th{
            @include breakpoint(1536px){
                font-size: 14px;
            }
            &:first-child{
                text-align: left !important;
            }
            &:hover{
                outline: none !important;
            }
        }
    }
  
}
div.dt-processing>div:last-child>div{
    background-color: $blue;
}
table.dataTable th.dt-type-numeric:not(:first-child){
    text-align: left !important;
}
table.dataTable th.dt-type-numeric:not(:last-child){
    text-align: left !important;
}
table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-numeric{
    text-align: left !important;
}
.fTable{
    position: relative;
    margin-top: 50px;
    @include breakpoint(1536px){
        margin-top: 20px;
    }
}