.page_wrap{
    background-color: $light;
}
.mBtn{
    position: relative;
    display: block;
    padding: 15px 50px;
    border-radius: 50px;
    background-color: $blue;
    color: $white;
    border: 0;
    font-size: 20px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 1px;
    @include breakpoint(767px){
        font-size: 16px;
        padding: 15px 30px;
    }
    &:disabled{
        opacity: 0.5;
    }
}
.hidden{
    display: none !important;
}