// .cardsWrap{
//     position: relative;
//     display: flex;
//     justify-content: space-between;
//     align-items: stretch;
//     grid-gap: 20px;
//     &_item{
//         position: relative;
//         padding: 30px 20px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         grid-gap: 10px;
//         border-radius: 20px;
//         background-color: rgba($blue, 0.1);
//         width: 100%;
//         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
//         min-height: 150px;
//         flex-direction: column;
//         @include breakpoint(1536px){
//             padding: 20px;
//             height: auto;
//         }
//         &_icon{
//             position: relative;
//             min-width: 50px;
//             height: 50px;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             background-color: $blue;
//             border-radius: 50%;
//             span{
//                 color: $white;
//             }
//         }
//         &_details{
//             position: relative;
//             text-align: center;
//             p{
//                 font-size: 20px;
//                 // font-family: $semiBold;
//                 line-height: 1.3;
//                 margin-bottom: 10px;
//             }
//             h2{
//                 font-size: 32px;
//                 // font-family: $semiBold;
//                 color: $blue;
//             }
//         }
//     }
// }

// .calfacWrap{
//     position: relative;
//     margin-top: 50px;
//     display: flex;
//     justify-content: flex-start;
//     align-items: stretch;
//     grid-gap: 20px;
//     @include breakpoint(1536px){
//         margin-top: 20px;
//     }
//     @include breakpoint(1366px){
//        flex-direction: column;
//     }
//     &_cal{
//         position: relative;
//         background-color: rgba($blue, 0.1);
//         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
//         min-width: 500px;
//         min-height: 560px;
//         padding: 20px;
//         border-radius: 20px;
//         @include breakpoint(1536px){
//             min-width: 350px;
//             min-height: 540px;
//         }
//         .subTitle{
//             margin-bottom: 20px;
//         }
//         .calendar-header{
//             position: relative;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             .calendar-nav{
//                 position: relative;
//                 padding: 10px;
//                 border: 0;
//                 background-color: $blue;
//                 border-radius: 50%;
//                 min-width: 40px;
//                 height: 40px;
//                 color: $white;
//                 font-size: 24px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 font-weight: 600;
//             }
//             .calendar-month{
//                 font-size: 20px;
//                 line-height: 1;
//                 font-weight: 600;
//             }
//         }
//         .calendar-table{
//             position: relative;
//             width: 100%;
//             margin-top: 20px;
//             padding:  0 20px;
//             tr{
//                 th,td{
//                     padding: 25px 10px;
//                     text-align: center;
//                     @include breakpoint(1536px){
//                         padding: 10px;
                        
//                     }
//                 }
//                 td{
//                     position: relative;
//                     font-size: 18px;
                    
//                     &.holiday{
//                         position: relative;
                       
//                         border-radius: 50%;
//                         color: $white;
//                         // font-family: $medium;
//                         cursor: pointer;
//                         span{
//                             padding: 10px;
//                              background-color: red;
//                             border-radius: 50%;
//                             color: $white;
//                             // font-family: $medium;
//                         }
//                         &:after {
//                             content: attr(data-holiday);
//                             position: absolute;
//                             bottom: 95%;
//                             left: 50%;
//                             transform: translateX(-50%);
//                             background: $blue;
//                             color: $white;
//                             padding: 10px 20px;
//                             border-radius: 4px;
//                             font-size: 16px;
//                             white-space: nowrap;
//                             opacity: 0;
//                             pointer-events: none;
//                             transition: opacity 0.2s ease;
//                             z-index: 10;
//                             @include breakpoint(1536px){
//                                 bottom: 125%;
//                             }
//                         }
//                         &:before {
//                             content: '';
//                             position: absolute;
//                             bottom: 66%;
//                             left: 50%;
//                             transform: translateX(-50%);
//                             border-width: 10px;
//                             border-style: solid;
//                             border-color: $blue transparent transparent transparent;
//                             opacity: 0;
//                             @include breakpoint(1536px){
//                                 bottom: 70%;
//                             }
//                         }
//                         &:hover{
//                             &:before, &:after{
//                                 opacity: 1;
//                             }
//                         }
//                     }
//                     &.today{
//                         span{
//                             padding: 10px;
//                             background-color: #FF6B35;
//                             border-radius: 50%;
//                             color: $white;
//                             // font-family: $medium;
//                         }
//                     }
//                 }
//             }
//             thead{
//                 tr{
//                     th{
//                         font-weight: 600;
//                     }
//                 }
//             }
//         }
        
//     }
//     &_table{
//         width: 100%;
//         border-radius: 20px;
//         overflow: hidden;
//         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        
//         @include breakpoint(1366px){
//             min-height: 100%;
//         }
//         #teachTable_wrapper{
//              @include breakpoint(1536px){
//                 min-height: 650px;
//             }
//         }
//         .badge{
//             position: relative;
//             padding: 10px;
//             border-radius: 50px;
//             text-transform: capitalize;
//             &.badge-success{
//                 background-color: green;
//             }
//         }
//     }
// }
.cardsWrap{
    position: relative;
    margin-bottom: 32px;
    &_inner{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        grid-gap: 20px;
    }
    &_item{
        position: relative;
        width: 100%;
        border-radius: 14px;
        padding: 25px;
        border: 1px solid #F3F4F6;
        box-shadow: 1px 1px 5px  rgba($darkBlack, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: $white;
        &_icon{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
            border-radius: 50%;
            background-color: oklch(97% 0.014 254.604);
            min-width: 70px;
            height: 70px;
            @include breakpoint(1440px){
                padding: 0;
                min-width: 50px;
                height: 50px;
            }
            img{
                width: 24px;
                height: 24px;
                object-fit: contain;
            }
            &:nth-child(2){
                background-color: oklch(97.7% 0.014 308.299);
            }
            &:nth-child(3){
                background-color: oklch(98.2% 0.018 155.826);
            }
            &:nth-child(4), &:nth-child(5){
                background-color: oklch(98% 0.016 73.684);
            }
        }
        p{
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 10px;
        }
        h2{
            font-size: 30px;
            line-height: 1;
            color: $darkBlack;
            font-weight: 600;
        }
    }
}
.calfacWrap{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 32px;
    &_cal{
        position: relative;
        padding: 25px;
        border: 1px solid #F3F4F6;
        box-shadow: 1px 1px 5px  rgba($darkBlack, 0.1);
        border-radius: 20px;
        margin-right: 25px;
        background-color: $white;
    }
    .calendar-section{
        position: relative; 
        margin-bottom: 30px;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba($darkBlack, 0.1);
        
        .calendar-header{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            button{
                position: relative;
                background-color: transparent;
                outline: none;
                border: none;
                font-size: 24px;
            }
        }
        .calendar-table{
            tr{
                th{
                    position: relative;
                    padding: 10px;
                    text-align: center;
                }
                td{
                    &.inactive, span{
                       
                        position: relative;
                        padding: 10px;
                        text-align: center;
                    }
                    &.inactive{
                        opacity: 0.5;
                    }
                    span{
                        position: relative;
                         display: block;
                    }
                    &.today{
                        position: relative;
                        z-index: 2;
                        color: $white;
                        &:after{
                            content:'';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: $darkBlue;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            border-radius: 5px;
                        }
                        span{
                            z-index: 1111;
                            color: $white;
                        }
                    }
                    &.holiday{
                        position: relative;
                       
                        border-radius: 50%;
                        color: $white;
                        cursor: pointer;
                        span{
                            padding: 10px;
                             background-color: #FF6B35;
                            border-radius: 5px;
                            color: $white;
                        }
                        &:after {
                            content: attr(data-holiday);
                            position: absolute;
                            bottom: 121%;
                            left: 50%;
                            transform: translateX(-50%);
                            background: #FF6B35;
                            color: $white;
                            padding: 10px 20px;
                            border-radius: 4px;
                            font-size: 16px;
                            white-space: nowrap;
                            opacity: 0;
                            pointer-events: none;
                            transition: opacity 0.2s ease;
                            z-index: 10;
                            @include breakpoint(1536px){
                                bottom: 125%;
                            }
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            bottom: 66%;
                            left: 50%;
                            transform: translateX(-50%);
                            border-width: 10px;
                            border-style: solid;
                            border-color:#FF6B35 transparent transparent transparent;
                            opacity: 0;
                            @include breakpoint(1536px){
                                bottom: 70%;
                            }
                        }
                        &:hover{
                            &:before, &:after{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
       
    }
    .leaveSection{
        position: relative; 
        margin-bottom: 30px;
        padding-top: 0;
        ul{
            li{
                position: relative;
                padding: 12px;
                margin-bottom: 20px;
                border-bottom: 1px solid #F3F4F6;
                &:last-child{
                    border-bottom: 1px solid transparent;
                }
                p{
                  font-size: 14px;
                  line-height: 1.5;
                  color: $darkBlack;  
                  margin-bottom: 5px;
                }
                small{
                    font-size: 12px;
                    line-height: 1;
                    display: block;
                    margin-bottom: 10px;

                }
                i{
                    position: relative;
                    display: inline-block;
                    font-size: 12px;
                    padding: 5px 10px;
                    border-radius: 20px;
                    background-color: #FEF9C2;
                    color: #894B00;
                    &.cl{
                        background-color: #DBEAFE;
                        color: #193CB8;
                    }
                    &.ul{
                        background-color: #E0E7FF;
                        color: #372AAC;
                    }
                    &.al{
                         background-color: #DCFCE7;
                        color: #016630;
                    }
                }
            }
        }
    }
    &_table{
        position: relative;
        width: 100%;
        
    }
}