.inputWrap {
    label{
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: $blue;
        margin-bottom: 15px;
        @include breakpoint(767px){
            font-size: 20px;
        }
    }
    input{
        position: relative;
        padding: 15px 30px;
        outline: none;
        box-shadow: none;
        background-color: #EEEEEE;
        border: 0;
        font-size: 18px;
        line-height: 22px;
        display: block;
        border-radius: 30px;
        width: 100%;
        @include breakpoint(767px){
            font-size: 16px;
            padding: 12px 20px;
        }
    }
}
