.loginwrap{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include breakpoint(767px){
        min-height: 100vh;
    }
    &_inner{
        position: relative;
        padding: 50px;
        background-color: rgba($black, 0.1);
        border-radius: 25px;
        min-width: 500px;
        @include breakpoint(1280px){
            padding: 30px;
        }
        @include breakpoint(767px){
            padding: 30px 20px;
            min-width: calc(100% - 40px)
        }
    }
    &_header{
        position: relative;
        text-align: center;
        .logo-placeholder{
            position: relative;
            display: table;
            margin: 0 auto;
            margin-bottom: 20px;
            @include breakpoint(767px){
                height: 15px;
            }
           a{
            display: block;
             img{
                width: auto;
                height: 80px;
                @include breakpoint(1280px){
                   height: 60px;
                }
                @include breakpoint(767px){
                   height: 50px;
                }
            }
           }
        }
        h1{
            font-size: 24px;
            line-height: 34px;
            font-weight: 600;
            margin-bottom: 20px;
            @include breakpoint(1280px){
               font-size: 22px;
            }
            @include breakpoint(767px){
                font-size: 20px;
            }
        }
    }
    .inputWrap{
        position: relative;
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
        input{
            background-color: $white;
        }
    }
    .mBtn{
        width: 100%;
    }
    .fpLink{
        text-align: right;
        margin-top: 10px;
        a{
            font-size: 16px;
            line-height: 1;
            font-weight: 400;
            @include breakpoint(767px){
                font-size: 14px;
            }
        }
    }
}