.sideBar{
    position: relative;
    width: 300px;
    padding: 50px 30px;
    background-color: $blue;
    height: 100vh;
    transition: all 400ms ease-in-out;
    z-index: 1111;
    @include breakpoint(1536px){
       padding: 30px 20px;
       width: 250px;
    }
    &_logo{
        position: relative;
        margin-bottom: 20px;
        transition: all 400ms ease-in-out;
        a{
            display: block;
        }
        img{
            transition: all 400ms ease-in-out;
            max-width: 200px;
            max-height: 100px;
            border: 2px solid $white;
            border-radius: 10px;
            transform-origin: left;
            @include breakpoint(1600px){
                max-height: 80px;
            }
            @include breakpoint(1536px){
               max-height: 60px;
            }
        }
    }
    &_menu{
        position: relative;
        padding-top: 50px;
        @include breakpoint(1600px){
            padding-top: 0;
        }
        ul{
            li{
                position: relative;
                padding: 10px 0;
                .material-symbols-outlined {
                    font-size: 22px;
                    color: $white;
                }
                span{
                    position: relative;
                    min-width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba($white,0.2);
                    margin-right: 10px;
                    border-radius: 50%;
                   &.material-symbols-outlined{
                     @include breakpoint(1536px){
                        min-width: 35px;
                        height: 35px;
                        font-size: 20px;
                    }
                   }
                }
                a{
                    position: relative;
                    display: inline-block;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    // padding: 15px 0;
                    font-size: 18px;
                    line-height: 1.5;
                    font-family: $medium;
                    color: $white;
                    letter-spacing: 1px;
                    transition: all 400ms ease-in-out;
                    @include breakpoint(1536px){
                        font-size: 16px;
                    }
                    &:hover{
                        color: $white;
                        p{
                            color: $white;
                        }
                    }
                    p{
                        min-width: 200px;
                        transition: all 400ms ease-in-out;
                    }
                }
                &:first-child{
                    a{
                        padding-top: 0;
                    }
                }
                &:last-child{
                    a{
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    &_logout{
        position: absolute;
        bottom: 30px;
        a{
            color: $white;
            font-size: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include breakpoint(1536px){
                font-size: 16px;
            }
            span{
               font-size: 24px;
               margin-right: 10px;
               transition: all 400ms ease-in-out;
                @include breakpoint(1536px){
                    font-size: 20px;
                }
            }
            p{
                transition: all 400ms ease-in-out;
                min-width: 200px;
                
            }
        }
    }
    &_toggleBtn{
        position: absolute;
        width: 30px;
        height: 40px;
        right: -30px;
        background-color: $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        cursor: pointer;
        span{
            color: $white;
        }
    }
    &.collapsed{
        width: 100px;
        @include breakpoint(1536px){
            width: 80px;
        }
        .sideBar{
            &_logo{
               
                img{
                    transform: scale(0.5);
                }
            }
            &_menu{
                ul{
                    li{
                        a{
                            p{
                                opacity: 0;
                                pointer-events: none;
                            }
                            span{
                                margin-right: 0;
                                // min-width: 40px;
                                 
                            }
                        }
                    }
                }
            }
            &_logout{
                a{
                    p{
                       display: none;
                    }
                }
            }
        }
    }
}