@import './bootstrap/bootstrap.min.css';
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Black";
  src: url("../fonts/Raleway-Black.woff2") format("woff2"), url("../fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-BlackItalic";
  src: url("../fonts/Raleway-BlackItalic.woff2") format("woff2"), url("../fonts/Raleway-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-BoldItalic";
  src: url("../fonts/Raleway-BoldItalic.woff2") format("woff2"), url("../fonts/Raleway-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-ExtraLightItalic";
  src: url("../fonts/Raleway-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Raleway-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-ExtraBoldItalic";
  src: url("../fonts/Raleway-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Raleway-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-LightItalic";
  src: url("../fonts/Raleway-LightItalic.woff2") format("woff2"), url("../fonts/Raleway-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Italic";
  src: url("../fonts/Raleway-Italic.woff2") format("woff2"), url("../fonts/Raleway-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-MediumItalic";
  src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2"), url("../fonts/Raleway-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-SemiBoldItalic";
  src: url("../fonts/Raleway-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Raleway-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("../fonts/Raleway-ExtraLight.woff2") format("woff2"), url("../fonts/Raleway-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-ThinItalic";
  src: url("../fonts/Raleway-ThinItalic.woff2") format("woff2"), url("../fonts/Raleway-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Thin";
  src: url("../fonts/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  font-family: "Raleway-Regular";
  margin: 0;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body a {
  text-decoration: none;
  color: #515151;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
body a :hover {
  text-decoration: none;
  color: #515151;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #515151;
}

.page_wrap {
  background-color: "Raleway-Light";
}

.mBtn {
  position: relative;
  display: block;
  padding: 15px 50px;
  border-radius: 50px;
  background-color: #223285;
  color: #fff;
  border: 0;
  font-size: 20px;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .mBtn {
    font-size: 16px;
    padding: 15px 30px;
  }
}
.mBtn:disabled {
  opacity: 0.5;
}

.hidden {
  display: none !important;
}

.sidebar {
  position: relative;
  width: 300px;
}

.inputWrap label {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #223285;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .inputWrap label {
    font-size: 20px;
  }
}
.inputWrap input {
  position: relative;
  padding: 15px 30px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #EEEEEE;
  border: 0;
  font-size: 18px;
  line-height: 22px;
  display: block;
  border-radius: 30px;
  width: 100%;
}
@media (max-width: 767px) {
  .inputWrap input {
    font-size: 16px;
    padding: 12px 20px;
  }
}

.loginwrap {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .loginwrap {
    min-height: 100vh;
  }
}
.loginwrap_inner {
  position: relative;
  padding: 50px;
  background-color: rgba(81, 81, 81, 0.1);
  border-radius: 25px;
  min-width: 500px;
}
@media (max-width: 1280px) {
  .loginwrap_inner {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .loginwrap_inner {
    padding: 30px 20px;
    min-width: calc(100% - 40px);
  }
}
.loginwrap_header {
  position: relative;
  text-align: center;
}
.loginwrap_header .logo-placeholder {
  position: relative;
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .loginwrap_header .logo-placeholder {
    height: 15px;
  }
}
.loginwrap_header .logo-placeholder a {
  display: block;
}
.loginwrap_header .logo-placeholder a img {
  width: auto;
  height: 80px;
}
@media (max-width: 1280px) {
  .loginwrap_header .logo-placeholder a img {
    height: 60px;
  }
}
@media (max-width: 767px) {
  .loginwrap_header .logo-placeholder a img {
    height: 50px;
  }
}
.loginwrap_header h1 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media (max-width: 1280px) {
  .loginwrap_header h1 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .loginwrap_header h1 {
    font-size: 20px;
  }
}
.loginwrap .inputWrap {
  position: relative;
  margin-bottom: 20px;
}
.loginwrap .inputWrap:last-child {
  margin-bottom: 0;
}
.loginwrap .inputWrap input {
  background-color: #fff;
}
.loginwrap .mBtn {
  width: 100%;
}
.loginwrap .fpLink {
  text-align: right;
  margin-top: 10px;
}
.loginwrap .fpLink a {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}
@media (max-width: 767px) {
  .loginwrap .fpLink a {
    font-size: 14px;
  }
}

#toastContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.mytoast {
  min-width: 250px;
  margin-bottom: 10px;
  padding: 15px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  -webkit-animation: slideIn 0.3s ease, fadeOut 0.5s ease 3s;
          animation: slideIn 0.3s ease, fadeOut 0.5s ease 3s;
}
.mytoast.success {
  background-color: #2e7d32;
}
.mytoast.error {
  background-color: #c62828;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.sideBar {
  position: relative;
  width: 300px;
  padding: 50px 30px;
  background-color: #223285;
  height: 100vh;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  z-index: 1111;
}
@media (max-width: 1536px) {
  .sideBar {
    padding: 30px 20px;
    width: 250px;
  }
}
.sideBar_logo {
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.sideBar_logo a {
  display: block;
}
.sideBar_logo img {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  max-width: 200px;
  max-height: 100px;
  border: 2px solid #fff;
  border-radius: 10px;
  -webkit-transform-origin: left;
          transform-origin: left;
}
@media (max-width: 1600px) {
  .sideBar_logo img {
    max-height: 80px;
  }
}
@media (max-width: 1536px) {
  .sideBar_logo img {
    max-height: 60px;
  }
}
.sideBar_menu {
  position: relative;
  padding-top: 50px;
}
@media (max-width: 1600px) {
  .sideBar_menu {
    padding-top: 0;
  }
}
.sideBar_menu ul li {
  position: relative;
  padding: 10px 0;
}
.sideBar_menu ul li .material-symbols-outlined {
  font-size: 22px;
  color: #fff;
}
.sideBar_menu ul li span {
  position: relative;
  min-width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  border-radius: 50%;
}
@media (max-width: 1536px) {
  .sideBar_menu ul li span.material-symbols-outlined {
    min-width: 35px;
    height: 35px;
    font-size: 20px;
  }
}
.sideBar_menu ul li a {
  position: relative;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Raleway-Medium";
  color: #fff;
  letter-spacing: 1px;
}
@media (max-width: 1536px) {
  .sideBar_menu ul li a {
    font-size: 16px;
  }
}
.sideBar_menu ul li a p {
  min-width: 200px;
}
.sideBar_menu ul li:first-child a {
  padding-top: 0;
}
.sideBar_menu ul li:last-child a {
  padding-bottom: 0;
}
.sideBar_logout {
  position: absolute;
  bottom: 30px;
}
.sideBar_logout a {
  color: #fff;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1536px) {
  .sideBar_logout a {
    font-size: 16px;
  }
}
.sideBar_logout a span {
  font-size: 24px;
  margin-right: 10px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
@media (max-width: 1536px) {
  .sideBar_logout a span {
    font-size: 20px;
  }
}
.sideBar_logout a p {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  min-width: 200px;
}
.sideBar_toggleBtn {
  position: absolute;
  width: 30px;
  height: 40px;
  right: -30px;
  background-color: #223285;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
}
.sideBar_toggleBtn span {
  color: #fff;
}
.sideBar.collapsed {
  width: 100px;
}
@media (max-width: 1536px) {
  .sideBar.collapsed {
    width: 80px;
  }
}
.sideBar.collapsed .sideBar_logo img {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.sideBar.collapsed .sideBar_menu ul li a p {
  opacity: 0;
  pointer-events: none;
}
.sideBar.collapsed .sideBar_menu ul li a span {
  margin-right: 0;
}
.sideBar.collapsed .sideBar_logout a p {
  display: none;
}